export KUBECONFIG="$(expand_path ./clusters/main/talos/generated/kubeconfig)"
export TALOSCONFIG="$(expand_path ./clusters/main/talos/generated/talosconfig)"
export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"
