apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kubelet-csr-approver
  namespace: kube-system
spec:
  interval: 30m
  chart:
    spec:
      chart: kubelet-csr-approver
      version: 2.11.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  values: {}
