apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: filebrowser
  namespace: filebrowser
spec:
  interval: 15m
  chart:
    spec:
      chart: filebrowser
      version: 12.7.6
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    service:
      main:
        type: LoadBalancer
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: filebrowser.${DOMAIN_BASE}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: le-prod
          nginx:
            enabled: true
            auth:
              type: authelia
              internalHost: ${AUTHELIA_DNS_NAME}
              externalHost: ${AUTHELIA_EXTERNAL_DNS_NAME}
          homepage:
            enabled: true
            group: Apps
            widget:
              enabled: false
    persistence:
      appdata:
        enabled: true
        type: nfs
        server: ${TRUENAS_IP}
        mountPath: /data/appdata
        path: ${NFS_APPS_PATH}/
      media:
        enabled: true
        type: nfs
        path: ${NFS_MEDIA_PATH}
        mountPath: /data/media
        server: ${TRUENAS_IP}
      software:
        enabled: true
        type: nfs
        server: ${TRUENAS_IP}
        path: ${NFS_DSU_PATH}/Software
        mountPath: /data/software
