apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: kube-prometheus-stack
    namespace: kube-prometheus-stack
spec:
    interval: 5m
    chart:
        spec:
            chart: kube-prometheus-stack
            version: 76.4.0
            sourceRef:
                kind: HelmRepository
                name: prometheus-community
                namespace: flux-system
            interval: 5m
    install:
        createNamespace: true
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    values:
        grafana:
            enabled: false
            forceDeployDashboards: true
            defaultDashboardsEnabled: true
            forceDeployDatasources: true
        crds:
            enabled: true
            upgradeJob:
                enabled: true
                forceConflicts: true
        cleanPrometheusOperatorObjectNames: true
        alertmanager:
            enabled: false
        kubeProxy:
            enabled: false
        kubeEtcd:
            service:
                selector:
                    component: kube-apiserver # etcd runs on control plane nodes
        prometheus:
            prometheusSpec:
                podMonitorSelectorNilUsesHelmValues: false
                probeSelectorNilUsesHelmValues: false
                ruleSelectorNilUsesHelmValues: false
                scrapeConfigSelectorNilUsesHelmValues: false
                serviceMonitorSelectorNilUsesHelmValues: false
                enableAdminAPI: true
                walCompression: true
                enableFeatures:
                    - memory-snapshot-on-shutdown
                retention: 14d
                retentionSize: 50GB
                resources:
                    requests:
                        cpu: 100m
                    limits:
                        memory: 2000Mi
