apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflareddns
  namespace: cloudflareddns
spec:
  interval: 15m
  chart:
    spec:
      chart: cloudflareddns
      version: 12.3.6
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    cloudflareddns:
      api_token: ${CF_API_TOKEN}
      host_zone_record:
        - domain: home.${DOMAIN_BASE}
          record: A
          zone: ${CF_ZONE_ID}
      user: ${EMAIL}
