apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: thelounge
  namespace: thelounge
spec:
  interval: 2m
  chart:
    spec:
      chart: app-template
      version: 15.5.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: thelounge
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    release_name: thelounge
    global:
      stopAll: true
    image:
      repository: quay.io/linuxserver.io/thelounge
      pullPolicy: IfNotPresent
      tag: 4.4.3@sha256:3f63b76794da298b147f96b104507b3db2fcd3b850ef9b97d66ee6477d05962d
    credentials:
      home-s3:
        name: home-s3
        type: s3
        url: ${S3_URL}
        bucket: thelounge
        encrKey: ${BACKUP_ENCRYPTION_KEY}
        accessKey: ${S3_ACCESS_KEY}
        secretKey: ${S3_SECRET_KEY}
    service:
      main:
        enabled: true
        ports:
          main:
            enabled: true
            port: 9000
            protocol: http
            targetPort: 9000
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: lounge.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: le-prod
          homepage:
            enabled: true
            name: The Lounge
            description: A self-hosted web IRC client.
            group: Apps
            icon: https://raw.githubusercontent.com/thelounge/thelounge.github.io/master/assets/logos/logo/TL_Grey%26Yellow_Vertical_logotype_Transparent_Bg/TL_Grey%26Yellow_Vertical_logotype_Transparent_Bg.png
            widget:
              enabled: false
    persistence:
      config:
        enabled: true
        type: pvc
        mountPath: /config
        volsync:
          - credentials: home-s3
            name: home-s3
            type: restic
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 40 5 * * *
      uploads:
        enabled: true
        type: pvc
        mountPath: /uploads
        volsync:
          - credentials: home-s3
            name: home-s3
            type: restic
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 40 5 * * *
    securityContext:
      container:
        readOnlyRootFilesystem: false
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
    addons:
      codeserver:
        enabled: true
        workingDir: "/config"
        service:
          type: LoadBalancer
        ingress:
          enabled: true
          ingressClassName: external
          hosts:
            - host: edit-lounge.${DOMAIN_0}
          integrations:
            certManager:
            enabled: true
            certificateIssuer: le-prod
          nginx:
            enabled: true
            auth:
              type: authelia
              internalHost: ${AUTHELIA_INTERNAL_DNS}
              externalHost: ${AUTHELIA_EXTERNAL_DNS}
