apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: govee2mqtt
  namespace: govee2mqtt
spec:
  interval: 2m
  chart:
    spec:
      chart: app-template
      version: 15.7.6
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: govee2mqtt
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    release_name: govee2mqtt
    global:
      stopAll: false
    image:
      repository: ghcr.io/wez/govee2mqtt
      pullPolicy: IfNotPresent
      tag: latest@sha256:6970ea68b0c6ff4ef6d4e63424e46f38b8fa2ec29e9578f9d6136fefe08a08a7
    service:
      main:
        enabled: true
        ports:
          main:
            enabled: true
            port: 1883
            protocol: tcp
            targetPort: 1883
    persistence:
      data:
        enabled: true
        type: pvc
        mountPath: /data
    workload:
      main:
        podSpec:
          hostNetwork: true
          containers:
            main:
              probes:
                liveness:
                  enabled: false
                readiness:
                  enabled: false
                startup:
                  enabled: false
              env:
                GOVEE_MQTT_HOST: mosquitto.mosquitto.svc.cluster.local
                GOVEE_EMAIL: ${GOVEE_EMAIL}
                GOVEE_PASSWORD: ${GOVEE_PASSWORD}
                GOVEE_API_KEY: ${GOVEE_API_KEY}
