apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: forgejo
  namespace: forgejo
spec:
  interval: 15m
  timeout: 20m
  chart:
    spec:
      chart: app-template
      version: 15.4.11
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: forgejo
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    release_name: forgejo
    global:
      stopAll: false
    image:
      repository: codeberg.org/forgejo/forgejo
      pullPolicy: IfNotPresent
      tag: 12.0.1-rootless
    credentials:
      home-s3:
        name: home-s3
        type: s3
        url: ${S3_URL}
        bucket: forgejo
        encrKey: ${BACKUP_ENCRYPTION_KEY}
        accessKey: ${S3_ACCESS_KEY}
        secretKey: ${S3_SECRET_KEY}
    service:
      main:
        enabled: true
        ports:
          main:
            enabled: true
            port: 3000
            protocol: http
            targetPort: 3000
          ssh:
            enabled: true
            port: 2222
            protocol: tcp
            targetPort: 2222
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: code.${DOMAIN_BASE}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: le-prod
          nginx:
            enabled: true
          homepage:
            enabled: true
            name: Forgejo
            description: Forgejo is a self-hosted lightweight software forge.
            group: Apps
            icon: https://codeberg.org/forgejo/forgejo/raw/branch/forgejo/public/assets/img/forgejo.svg
            widget:
              enabled: false
    persistence:
      forgejo:
        enabled: true
        type: pvc
        mountPath: /etc/gitea
        volsync:
          - name: forgejo
            type: restic
            credentials: home-s3
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 20 2 * * *
      conf:
        enabled: true
        type: pvc
        mountPath: /var/lib/gitea
        volsync:
          - name: conf
            type: restic
            credentials: home-s3
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 25 2 * * *
      ssh-key:
        enabled: true
        type: secret
        readOnly: true
        objectName: forgejo-app-template-ssh-key-secret
        expandObjectName: false
        mountPath: "/var/lib/ssh-key"
    secret:
      ssh-key-secret:
        enabled: true
        data:
          private.key: ${FORGEJO_SSH_PRIVATE_KEY}
          public.key: ${FORGEJO_SSH_PUBLIC_KEY}
    workload:
      main:
        podSpec:
          containers:
            main:
              probes:
                liveness:
                  enabled: true
                  path: "/"
                  port: 3000
                  type: http
                readiness:
                  enabled: true
                  port: 3000
                  type: http
                startup:
                  enabled: false
              env:
                FORGEJO__database__DB_TYPE: postgres
                FORGEJO__database__HOST: "{{ .Values.cnpg.main.creds.host }}"
                FORGEJO__database__NAME: "{{ .Values.cnpg.main.database }}"
                FORGEJO__database__USER: "{{ .Values.cnpg.main.user }}"
                FORGEJO__database__PASSWD: ${FORGEJO_DB_PASSWORD}
                FORGEJO__mailer__ENABLED: "true"
                FORGEJO__mailer__SMTP_ADDR: "${SMTP_SERVER}"
                FORGEJO__mailer__SMTP_PORT: "${SMTP_PORT}"
                FORGEJO__mailer__USER: "${SMTP_FROM}"
                FORGEJO__mailer__PASSWD: "${SMTP_PASSWORD}"
                FORGEJO__mailer__FROM: "Forgejo <${SMTP_FROM}>"
                FORGEJO__repository.signing__FORMAT: "ssh"
                FORGEJO__repository.signing__SIGNING_KEY: "/var/lib/ssh-key/public.key"
                FORGEJO__security__SECRET_KEY: "${FORGEJO_SECRET_KEY}"
                FORGEJO__security__PASSWORD_CHECK_PWN: "true"
                FORGEJO__repository.signing__DEFAULT_TRUST_MODEL: "committer"
                FORGEJO__service__DISABLE_REGISTRATION: "true"
    cnpg:
      main:
        enabled: true
        database: forgejo
        user: forgejo
        password: ${FORGEJO_DB_PASSWORD}
        pgVersion: 16
        mode: standalone
        cluster:
          singleNode: true
        backups:
          enabled: true
          credentials: home-s3
        recovery:
          enabled: true
          credentials: home-s3
    addons:
      codeserver:
        enabled: true
        service:
          type: LoadBalancer
        ingress:
          enabled: true
          ingressClassName: external
          hosts:
            - host: edit-code.${DOMAIN_BASE}
          integrations:
            certManager:
            enabled: true
            certificateIssuer: le-prod
          nginx:
            enabled: true
            auth:
              type: authelia
              internalHost: ${AUTHELIA_DNS_NAME}
              externalHost: ${AUTHELIA_EXTERNAL_DNS_NAME}
