apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: clusterissuer
  namespace: clusterissuer
spec:
  interval: 15m
  chart:
    spec:
      chart: clusterissuer
      version: 10.3.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: clusterissuer
  values:
    clusterIssuer:
      selfSigned:
        enabled: true
        name: selfsigned
      ACME:
      - name: le-prod
        server: 'https://acme-v02.api.letsencrypt.org/directory'
        email: '${EMAIL}'
        type: cloudflare
        cfapitoken: '${CF_API_TOKEN}'
      - name: le-staging
        server: 'https://acme-staging-v02.api.letsencrypt.org/directory'
        email: '${EMAIL}'
        type: cloudflare
        cfapitoken: '${CF_API_TOKEN}'
    clusterCertificates:
      # Namespaces in which the certificates must be available
      # Accepts comma-separated regex expressions
      replicationNamespaces: '.*'
      certificates:
      - name: cluster-wildcard
        enabled: true
        certificateIssuer: le-prod
        hosts:
        - ${DOMAIN_BASE}
        - '*.${DOMAIN_BASE}'
