apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  interval: 15m
  chart:
    spec:
      chart: home-assistant
      version: 28.5.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    credentials:
      home-s3:
        name: home-s3
        type: s3
        url: ${S3_URL}
        bucket: home-assistant
        encrKey: ${BACKUP_ENCRYPTION_KEY}
        accessKey: ${S3_ACCESS_KEY}
        secretKey: ${S3_SECRET_KEY}
    workload:
      main:
        podSpec:
          hostNetwork: true # main service: 8123; codeserver: 12321
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: homeassistant.${DOMAIN_BASE}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: le-prod
          homepage:
            enabled: true
            name: Home Assistant
            group: Infrastructure
            widget:
              enabled: true
              custom:
                key: ${HOMEPAGE_HOMEASSISTANT_KEY}
    persistence:
      config:
        volsync:
          - credentials: home-s3
            name: home-s3
            type: restic
            dest:
              enabled: false #CHANGE TO TRUE WHEN REINSTALLING APP
            src:
              enabled: true
              trigger:
                schedule: 45 0 * * *
    cnpg:
      main:
        password: ${CNPG_PASSWORD}
        mode: standalone # CHANGE ME TO RECOVERY MODE 
        backups:
          enabled: true
          credentials: home-s3
          revision: "1"
          retentionPolicy: "14d"
        recovery:
          enabled: true
          credentials: home-s3
          revision: ""
        cluster:
          singleNode: true
    addons:
      codeserver:
        enabled: true
        workingDir: "/config"
        service:
          type: LoadBalancer
        ingress:
          enabled: true
          ingressClassName: external
          hosts:
            - host: edit-homeassistant.${DOMAIN_BASE}
          integrations:
            certManager:
            enabled: true
            certificateIssuer: le-prod
          nginx:
            enabled: true
            auth:
              type: authelia
              internalHost: ${AUTHELIA_DNS_NAME}
              externalHost: ${AUTHELIA_EXTERNAL_DNS_NAME}
