apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: orcaslicer
  namespace: orcaslicer
spec:
  interval: 15m
  chart:
    spec:
      chart: orcaslicer
      version: 2.3.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    global:
      stopAll: true
    service:
      main:
        type: LoadBalancer
    workload:
      main:
        strategy: Recreate
        podSpec:
          runtimeClassName: "nvidia"
          containers:
            main:
              resources:
                limits:
                  nvidia.com/gpu: 1
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: orcaslicer.${DOMAIN_BASE}
        certManager:
          enabled: true
          certificateIssuer: le-prod
        nginx:
          enabled: true
          auth:
            type: authelia
            internalHost: ${AUTHELIA_DNS_NAME}
            externalHost: ${AUTHELIA_EXTERNAL_DNS_NAME}
    persistence:
      data:
        enabled: true
        type: nfs
        server: "${TRUENAS_IP}"
        path: ${NFS_APPS_PATH}/OrcaSlicer
        mountPath: /data
